html {
  scroll-behavior: smooth;
}



body {
    max-width: auto;
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    }
.block_22{
      width: 1200px;
      margin: 0 auto;
      }
    header {
      
        height: 5%;
        background: rgb(255, 255, 255);
      }
    
.flex6593475{
  display: flex;
  flex-direction: row;
}
.flex88339{
  display: flex;
  flex-direction: column;
}

.flex_nagradi{
  display: flex;
  flex-direction: column;
}
.flex_nagradi3{
  display: flex;
  flex-direction: row;
}
      .center__text {
        font-family: Snell Roundhand;
        font-size: 35px;
        text-align: center;
        color: rgb(34, 33, 99);
        font-weight: bolder;
        padding-left: 2%;
        padding-right: 0%;
      }

.header2 {
        
        background: rgb(34, 33, 99);
        padding-bottom: 1%;
        padding-top: 1%;
      }
      .center__text2 {
        font-family: Snell Roundhand;
        font-size: 20px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        
      }
.p3{
  text-align: left;
  display: flex;
  align-items: center;
  color: #6d6c6c;
  font-size: 16px;
  width: auto;
  font-family: Snell Roundhand;
  font-weight: bolder;
  border-left: 3px solid rgb(192, 18, 56);
  padding: 0;
  padding-left: 8px;
}

.p10{
  text-align: left;
  display: flex;
  align-items: center;
  color: #6d6c6c;
  font-size: 16px;
  width: auto;
  font-family: Snell Roundhand;
  font-weight: bolder;
  text-decoration: none;
}
.p10:hover {
  text-decoration: underline;
  color: rgb(192, 18, 56);
 }

      .center-pic{
        display:block;
        margin:auto;
        }

      .img_reg{
        width: 330px;
        padding-left: 10%;
        padding-top: 2%;
        margin-right: 20%;
      }
      .img_reg7{
        width: 350px;
        margin-bottom: 6px;
        padding-left: 10%;
        padding-top: 2%;
        padding-right: 0%;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0);
        width: 74%;
        height: 800px;
        border-right: 3px solid rgb(192, 18, 56);
        padding: 0;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    li {
        float: left;
        font-family: Snell Roundhand;
        font-size: 15px;
        margin-right: 800px;
        font-weight: bolder;
        padding-left: 5%;
        padding-top: 5px;
    }
    
    li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: left;
        padding: 8px 10px;
        text-decoration: none;
        width: 200px;
    }
    
  
    li a:hover {
        background-color: rgb(34, 33, 99);
        font-family: Snell Roundhand;
        width: 210px;
        font-size: 18px;
        color: white;
        border-radius: 10px;
    }

    .dropdown .dropbtn {
      font-size: 15px;    
      border: none;
      outline: none;
      color: rgb(0, 0, 0);
      padding: 10px 10px;
      margin-top: 0;
      background-color: inherit;
      font-family: Snell Roundhand;
      margin-left: 1px;
      font-weight: bolder;
      float: left;
      margin-right: 800px;
      padding-left: 8%;
      padding-top: 8px;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(34, 33, 99);
      margin-left: 6%;
      width: 230px;
      text-align: left;
      padding-left: 6%;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 18px;
      color: white;
      border-radius: 10px;
    }
    
    .dropdown-content {
      display: none;
      background-color: #f7ebf06b;
      z-index: 1;

    }
    
    .dropdown-content a {
      float: none;
      color: rgb(0, 0, 0);
      padding: 20px 10px;
      margin-left: 50px;
      font-size: 15px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: Snell Roundhand;
      font-weight: bolder;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 170px;;
    }
    
    .dropdown-content a:hover {
            background-color: rgb(34, 33, 99);
            font-family: Snell Roundhand;
            width: 200px;
            font-size: 18px;
            margin-left: 60px;
            color: rgb(255, 255, 255);
            border-radius: 10px;
            padding-top: 7px;
            padding-bottom: 7px;
    }
    
    .dropdown:hover .dropdown-content {
      display: inline-block;
    }











    .dropdown1 .dropbtn1 {
      font-size: 15px;    
      border: none;
      outline: none;
      color: rgb(0, 0, 0);
      padding: 10px 10px;
      margin-top: 0;
      background-color: inherit;
      font-family: Snell Roundhand;
      margin-left: 1px;
      font-weight: bolder;
      float: left;
      margin-right: 800px;
      padding-left: 8%;
      padding-top: 8px;
    }
    
    .navbar a:hover, .dropdown1:hover .dropbtn1 {
      background-color: rgb(34, 33, 99);
      margin-left: 6%;
      width: 230px;
      text-align: left;
      padding-left: 6%;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 18px;
      color: white;
      border-radius: 10px;
    }
    
    .dropdown-content1 {
      display: none;
      background-color: #f7ebf06b;
      z-index: 1;
    }
    
    .dropdown-content1 a {
      float: none;
      color: rgb(0, 0, 0);
      padding: 20px 10px;
      margin-left: 50px;
      font-size: 15px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: Snell Roundhand;
      font-weight: bolder;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 170px;;
    }
    
    .dropdown-content1 a:hover {
      background-color: rgb(34, 33, 99);
      font-family: Snell Roundhand;
      width: 200px;
      font-size: 18px;
      margin-left: 60px;
      color: rgb(255, 255, 255);
      border-radius: 10px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    
    .dropdown1:hover .dropdown-content1 {
      display: inline-block;
    }
















.img_duo{
  width:15px;
  height:50px;
        
  margin-bottom: 4px;
  padding-left:40px;
  padding-top: 6px;
}
table {
    background: rgb(255, 255, 255);
    width: 100%;
}
.table_reg{
  padding-top: 17%;
  background: rgb(255, 255, 255);
  margin-left: 217px;
  margin-top: 20px;
}
.backgiround{
  width: 100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height: 100%;
}
.img_duo{
  width:15px;
  height:50px;
}
  p{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 28px;
    text-align: center;
    color:rgb(34, 33, 99);
    font-weight: bolder;
    margin-right: 0px;
    margin-left: 0px;
  }
.p1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
.p24{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 35px;
  text-align: center;
  color:rgb(34, 33, 99);
  font-weight: bolder;
  margin-right: 0px;
  margin-left: 0px;  
}
.img_reg2{
  width: 60%;
  border-right: 4px solid rgb(34, 33, 99);
  border-left: 4px solid rgb(34, 33, 99);
  border-top: 4px solid rgb(34, 33, 99);
  border-bottom: 4px solid rgb(34, 33, 99);
  display:block;
  margin:auto;
  margin-top: 2%;
} 
.logo_reg22{
  width: 50%;
  float: left;
  padding-left: 10%;
}
.p100{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding-left: 31%;
  margin-top: 0%;
}
.p500{
    font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding-left: 30%;
  margin-top: 0%;
}
.logo_reg33{
  width: 50%;
  float: right;
  padding: 0% 0% 0% 0%;
  padding-right: 10%;
}
.p200{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  text-align: right;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding-right: 25%;
  margin-top: 10%;
}
.img_reg3{
  width: 60%;
  margin-left: 6%;
  margin-top: 4%;
  border-right: 4px solid rgb(34, 33, 99);
  border-left: 4px solid rgb(34, 33, 99);
  border-top: 4px solid rgb(34, 33, 99);
  border-bottom: 4px solid rgb(34, 33, 99);
} 
.img_reg333{
  width: 60%;
  margin-left: 6%;
  margin-top: 10%;
  border-right: 4px solid rgb(34, 33, 99);
  border-left: 4px solid rgb(34, 33, 99);
  border-top: 4px solid rgb(34, 33, 99);
  border-bottom: 4px solid rgb(34, 33, 99);
}
.img_reg111{
  width: 90%;
  margin-top: 5%;
  margin-right: 0%;
  border-right: 4px solid rgb(34, 33, 99);
  border-left: 4px solid rgb(34, 33, 99);
  border-top: 4px solid rgb(34, 33, 99);
  border-bottom: 4px solid rgb(34, 33, 99); 
}

.u{
    font-size: 20px ;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.u:hover {
  text-decoration: underline;
  color: rgb(192, 18, 56);
 }

.flex_img{
  display: flex;
  flex-direction: column;
}

 .p2{
  margin-right: px;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
 
 }
 .leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 5px 5px 5px 0px; /* Отступы вокруг картинки */
  height: px;
  width: 60%;
 }



h1{
  color: rgb(77, 35, 29);
  }
.inderline {

    font-size:25px ;
    color: rgb(10, 82, 34);
}
footer {

  height: 100%;
  background: rgb(34, 33, 99);
  } 
  .footer__text{
        font-family: Snell Roundhand;
        font-size: 15px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        padding-left: 30%;
        padding-right: 20%;
  }
.transbox{
   
    height: 100%;
    
    background: rgb(255, 255, 255);
}
.flex-container {
      display: webkit-flex;
      display: flex;
      }
.flex-item {
      -webkit-align-self: center; 
      align-self: center;
      }

      .header_nav {
       display: flex;
       flex-direction: row;
      
      }
      .header_img1{
        width: 250px;
        height: 110px;
        margin-left: 1%;
        background: url("https://yar-kip.edu.yar.ru/glavnaya_stranitsa/simvolika/logo_three.png")
        no-repeat 100% / contain;
        padding-top: 4%;
      }
      
      .header_img2 {
        width: 250px;
        height: 110px;
        margin-left: 18%;
        float: left;
        background: url("https://yar-kip.edu.yar.ru/glavnaya_stranitsa/simvolika/cube_one.png")
        no-repeat 100% / contain;
        bottom: 2%;
        padding-top: 3%;
      }

      .header_textreg {
        display: flex;
        flex-direction: column;
       padding-left: 2%;
      }
      
.logo_reg{
  width: 40px;
  margin-right: 7px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.img_reg73{
  width: 25%;
  float: left;
  margin-left: 10%;
  
}
.img_reg74{
  width: 25%;
  float: left;
  margin-left: 3%;
}
.img_reg70{
  width: 90%;
  margin-left: 3%
}
#statya:hover{
  width: 160%;
  margin-left: 0%;
  margin-right: 500%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 300px;
  height: 300px;
}

.url775
{
  width: 70%;
  right: 55px;
  bottom: 35px;
}


.mp3{
  
  padding-left: 135%;
  padding-top: 0%;
  padding-bottom: 5%;
  border-left: 3px solid rgb(192, 18, 56);
}